.hero{
    
    width: 100%;
    height: 100vh;
    object-fit: contain;
}
#video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.material{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.content{
    margin: 50px;
    text-align: center;
}
.content h1{
    font-size: 4rem;
}
.content p{
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .content{
        margin: 10px 10px 50px 10px;
    }
    .content h1{
        font-size: 3rem;
    }
    .content p{
        font-size: 1.4rem;
    }
    .button{
        margin: 10px;
    }
}